<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"><!-- xml 파일의 유효성 체크를 위한 부분 -->
<configuration>
  
  <!-- mybatis를 운용하기 윈한 설정이 있다면 이곳에 작성 하는 것이 원칙-->
  
  <!-- properties: 이 문서 또는 외부에서 사용할 환경설정과 관련된 변수를  -->
  <properties></properties>
  
  <!-- settings : mybatis 실행 중 반영되어야할 규칙을  지정-->
  <settings>
  	<setting name="cacheEnabled" value="true"></setting>
  	<!-- 캐시 메모리를 사용할지 말지 결정하는 속성 -->
  	
  	<setting name="lazyLoadingEnabled" value="true"></setting>
  	<!-- 로딩을 지연시킬지 말지 -->
  	
  	<setting name="autoMappingBehavior" value="FULL"></setting>
  	<!-- 
  		컬럼을 필드/프로퍼티에 자동으로 매핑할지 말지 결정
  		(개팔자 입장에서는 좋음=> 다 매핑해주니까)
  		(단, 성능이 좀 떨어질 수는 있다.)
  	 -->
  	 <setting name="mapUnderscoreToCamelCase" value="true"></setting>
  	 <!-- 
  	 	mybatis 에서는 컴럼명과 필드명을 일치시켜야 하는데
  	 	우리가 자바에서는 낙타표기법을 쓰고 있고, db에서는 언더바를 쓰는 표기법을 쓰고 있기 때문에
  	 	이 두 가지 표현법을 호환시켜주는 설정
  	  -->
  </settings>
  
  <!-- typeAliases -->
  <typeAliases>
	 	<typeAlias alias="card" type="com.oneteam.wo9wo9.card.model.vo.Card"></typeAlias>
	 	<typeAlias alias="product" type="com.oneteam.wo9wo9.basket.model.vo.Product"></typeAlias>
	 	<typeAlias alias="self" type="com.oneteam.wo9wo9.basket.model.vo.Self"></typeAlias>
	 	<typeAlias alias="package" type="com.oneteam.wo9wo9.basket.model.vo.PackageVo"></typeAlias>
	 	
	 	<typeAlias type="com.oneteam.wo9wo9.main.model.vo.Main" alias="main"/>
		<typeAlias type="com.oneteam.wo9wo9.customercenter.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.oneteam.wo9wo9.customercenter.model.vo.Question" alias="question"/>
		<typeAlias type="com.oneteam.wo9wo9.review.vo.Review" alias="review"/>
		<typeAlias type="com.oneteam.wo9wo9.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.oneteam.wo9wo9.admin.model.vo.SelfProduct" alias="selfProduct"/>
		<typeAlias type="com.oneteam.wo9wo9.admin.model.vo.SelfAttachment" alias="selfAttachment"/>
		<typeAlias type="com.oneteam.wo9wo9.admin.model.vo.PackageAttachment" alias="packageAttachment"/>
		<typeAlias type="com.oneteam.wo9wo9.admin.model.vo.PackageProduct" alias="packageProduct"/>
		<typeAlias type="com.oneteam.wo9wo9.mypage.model.vo.MypageOrderList" alias="mypageOderList"/>
		<typeAlias type="com.oneteam.wo9wo9.mypage.model.vo.Coupon" alias="coupon"/>
		<typeAlias type="com.oneteam.wo9wo9.mypage.model.vo.ReviewList" alias="reviewList"/>
		<typeAlias type="com.oneteam.wo9wo9.packagedo.model.vo.Packagedo" alias="packagedo"/>
		<typeAlias type="com.oneteam.wo9wo9.packagedo.model.vo.Basket" alias="basket"/>
		<typeAlias type="com.oneteam.wo9wo9.selfdo.model.vo.Selfdo" alias="selfdo"/>
		<typeAlias type="com.oneteam.wo9wo9.selfdo.model.vo.Sidedo" alias="sidedo"/>
		
		<typeAlias alias="noticeSecond" type="com.oneteam.wo9wo9.notice.model.vo.NoticeS"></typeAlias>
		<typeAlias alias="inquiry" type="com.oneteam.wo9wo9.inquiry.model.vo.Inquiry"></typeAlias>
		<typeAlias alias="order" type="com.oneteam.wo9wo9.order.model.vo.Order"></typeAlias>
		<typeAlias alias="orderList" type="com.oneteam.wo9wo9.order.model.vo.OrderList"></typeAlias>
  </typeAliases>
</configuration>